::placeholder {
	color: var(--text-color-trans1);
}

select:invalid {
	color: var(--text-color-trans1);
}

::-webkit-calendar-picker-indicator {
    filter: invert(1);
}

input, select {
	width: 100%;
	height: max-content;
	outline: none;
	padding: 9px 10px;
	border: 1px solid var(--primary);
	border-radius: 10px;

	background-color: transparent;
	color: var(--text-color);
}

input:focus {
	border: 1px solid var(--highlight);
	transition: border .5s;
}

option {
    color: var(--text-color);
    background-color: var(--bg-color);
}
