:root {
	--bg-color: #0d1117;
	--text-color: #e4e5e7;
	--text-color-trans1: #e4e5e799;
	--primary: #79aaf0;
	--primary-trans1: #79aaf099;
	--primary-trans2: #79aaf055;
	--secondary: #eb6b6b;
	--secondary-trans1: #eb6b6b99;
	--success: #4CAF50;
	--warning: #FFC107;
	--highlight: gold;
}

::selection {
	background-color: gold;
	color: black;
}

* {
	padding: 0;
	border: 0;
	margin: 0;
	box-sizing: inherit;

	font-family: 'Montserrat', sans-serif;
	font-size: inherit;
	letter-spacing: .05rem;

	-webkit-print-color-adjust: exact !important;
	color-adjust: exact !important;
}

html,
body {
	overflow: hidden;
}

.active {
	color: var(--highlight) !important;
}

.overlay {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background-color: #00000099;
	z-index: 2;
}

.highlight:not(.highlight) {
	filter: blur(8px);
}

a {
	color: inherit;
	text-decoration: none;
}

@keyframes fade-move {
	0% {
		opacity: 0;
		transform: translateY(5%);
	}

	100% {
		opacity: 1;
		transform: translateY(0%);
	}
}

@keyframes scale-x {
	0% {
		opacity: 0;
		width: 0;
	}

	100% {
		opacity: 1;
		width: auto;
	}
}